
	<div class="hero-unit"> 
		<h1> Welcome to Wishpanda </h1> 
		<p class="lead pull-center">    Makin Twitter contests legit.</p> 
	</div> 
<div class ="row"> 
	<div class="span4"> 
		<p> Makin Twitter Contests Legit. Featured contest will appear here.</p> 
	</div> 
	<div class="span4"> 
		<p> Makin Twitter Contests Legit. </p> 
	</div> 
	<div class="span4"> 
		<p> Makin Twitter Contests Legit. </p> 
	</div> 
	<div class="span4"> 
		<p> Makin Twitter Contests Legit. </p> 
	</div> 
</div> 

